@media screen and (min-width: 768px) {
  header {
    padding: 1% 3% 0;

    .main-nav {
      justify-content: space-between;
      align-items: center;

      .logotype {
        width: 150px;
      }

      ul {
        position: static;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: center;
        gap: 3rem;
        text-transform: capitalize;
        background-color: transparent;
        margin-left: 0;
        width: max-content;

        &::before {
          content: "";
          display: none;
        }

        li {
          a:link,
          a:visited {
            color: $text-wob;
          }

          a:hover,
          a:focus {
            color: lighten($header-blue, 30%);
          }

          &:last-child a {
            background-color: white;
            color: $body-text-color;
            padding: 1rem 2rem;
            border-radius: 50px;
            font-family: $font-headers;
            text-transform: uppercase;
            transition: all 200ms ease-in;
          }

          &:last-child a:hover,
          &:last-child a:focus {
            background-color: rgba(255, 255, 255, 0.5);
            padding: 1rem 2rem;
            border-radius: 50px;
            transition: all 200ms ease-in;
          }
        }
      }

      .hamburger {
        display: none;
      }
    }

    .hero {
      padding-block: 6rem 12rem;
      background-image: url("../images/desktop/image-header.jpg");

      h1::after {
        background-size: 3%;
      }
    }
  }

  main {
    grid-template-columns: 50% 50%;
    grid-template-areas:
      "transformyourbrand transformyourbrand"
      "standout standout"
      "graphics photography"
      "testimonials testimonials"
      "squarepics squarepics";

    section {
      background-size: cover;
      background-position: 50%;

      .text {
        padding: 21% 15% 18% 18%;
      }

      img {
        display: block;
      }

      h3 {
        font-weight: 900;
        margin-bottom: 2rem;
      }

      &.promise {
        text-align: left;
        width: 100%;
        display: grid;
        grid-template-columns: 50% auto;

        h3 {
          text-align: left;
          font-size: 3rem;
        }

        p {
          margin-bottom: 1.5rem;
        }
      }

      &.transform-your-brand {
        grid-template-areas: "brandtext brandpic";

        .brand-pic {
          grid-area: brandpic;
        }

        .brand-text {
          grid-area: brandtext;
        }
      }

      &.stand-out {
      }

      &.services {
        padding-top: 27rem;
        padding-inline: 24%;
      }

      &.graphics {
        background-image: url("../images/desktop/image-graphic-design.jpg");
      }

      &.photography {
        background-image: url("../images/desktop/image-photography.jpg");
      }

      &.testimonials {
        padding: 7.5% 12% 9%;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 2;
        gap: 2rem;

        .testimonial {
          padding: 0;

          figure {
            width: 60px;
            height: 60px;
            border-radius: 100%;
            margin-block: 0rem 3rem;
          }

          img {
            width: 100%;
            object-fit: cover;
            object-position: center;
          }

          blockquote {
            p {
              margin-bottom: 2rem;
            }
            cite {
              span.name {
                font-size: 1.25rem;
                margin-bottom: 0rem;
                padding-bottom: 0;
              }
            }
          }
        }

        h3 {
          grid-column: 1/4;
        }
      }

      &.squarepics {
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }

  footer {
    a {
      transition: all 250ms ease-in-out;
    }

    a:hover,
    a:focus {
      color: $text-wob;
      filter: (100%);
      transition: all 250ms ease-in-out;
    }

    nav {
      ul {
        justify-content: center;
        gap: 4.5rem;
      }
    }

    .attribution {
      span {
        display: inline;
        padding-inline: 1rem;

        &.coded-byline img {
          width: 80px;
        }
      }
    }
  }
}
