@import "config";

// $text-wob: #f4f4f4;
$text-wob: white;

$body-text-color: #30363f;
$link-hover-color: #f6d208;
$header-blue: #3cbeff;
$footer-green: #91d4c5;
$sectionlink-stand: #fe7d6d;
$sectionlink-transform: #f6d208;

$font-body: "Barlow", sans-serif;
$font-headers: "Fraunces", serif;

%section {
  background-color: $text-wob;
  background-size: contain;
  background-repeat: no-repeat;
}

%baselink {
  content: "";
  display: block;
  position: absolute;
  top: 0.9rem;
  left: 50%;
  opacity: 0.75;
  height: 5px;
  border-radius: 10px;
  transform: translateX(-50%);
  transform-origin: 0 center;
}

%readmore {
  text-decoration: none;
  color: $body-text-color;
  position: relative;
  font-family: "Fraunces", display;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 4;

  &::before {
    @extend %baselink;
    background-color: $sectionlink-stand;
    width: 110%;
  }

  &::after {
    @extend %baselink;
    background-color: $sectionlink-transform;
    width: 0%;
    transition: width 250ms;
  }

  &:hover::after,
  &:focus::after {
    width: 110%;
    transition: width 250ms;
  }
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 1em;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 100%;
  font-family: $font-body;
  color: $body-text-color;
  line-height: 1.5;
  text-align: center;
  scroll-behavior: smooth;
}

a {
  outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-headers;
  text-align: center;
}

h1 {
  font-weight: 900;
}

h3 {
}

.wrapper {
  background-color: $header-blue;
  width: 100%;
  overflow: hidden;
}

nav {
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex: 1;

    a {
      color: $footer-green;
    }
  }
}

header {
  .main-nav {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    position: relative;

    .hamburger-control,
    .hamburger-control ~ label {
      position: absolute;
      top: 16px;
      right: 16px;
      width: 30px;
      height: 30px;
      background-color: transparent;
      color: transparent;
      z-index: 10;
      opacity: 0;
      cursor: pointer;

      &.menu-active {
        width: 100vw;
        height: 600px;
      }
    }

    .hamburger-control ~ label {
      opacity: 1;
      z-index: 9;
    }

    // .hamburger-control:checked {
    //   width: 100vw;
    //   height: 600px;
    // }

    // .hamburger-control:checked ~ .main-menu {
    //   display: flex;
    //   z-index: 20;
    // }

    // .hamburger-control ~ .main-menu {
    //   display: none;
    // }

    .main-menu {
      position: absolute;
      top: 6rem;
      left: 50%;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      background-color: $text-wob;
      color: $header-blue;
      width: 90%;
      margin-left: -45%;
      padding-block: 3rem;
      z-index: 20;
      opacity: 1;
      transition: all 0.25s ease-in-out;

      &.hide {
        opacity: 0;
        visibility: hidden;
        top: -24rem;
        transition: all 0.25s ease-in-out;
      }

      &::before {
        content: "";
        position: absolute;
        display: block;
        right: 0;
        top: -2rem;
        border-color: transparent;
        border-left: 50px solid transparent;
        border-right: 0px solid transparent;
        border-bottom: 50px solid white;
        height: 0;
        width: 0;
      }

      li {
        margin-block: 1rem;
        a:link,
        a:visited {
          color: grey;
          letter-spacing: 1px;
        }

        a:hover,
        a:focus {
          color: lighten(grey, 20%);
        }

        &:last-child a {
          background-color: $link-hover-color;
          color: $body-text-color;
          padding: 1rem 2rem;
          border-radius: 50px;
          font-family: $font-headers;
          text-transform: uppercase;
          transition: all 200ms ease-in;
        }

        &:last-child a:hover,
        &:last-child a:focus {
          background-color: lighten($link-hover-color, 20%);
          padding: 1rem 2rem;
          border-radius: 50px;
          transition: all 200ms ease-in;
        }
      }
    }

    .hamburger {
      border: none;
      background-color: transparent;
      width: 30px;
      height: 30px;
      cursor: pointer;
    }

    .hamburger .line {
      margin-block: 5px;
      width: 30px;
      height: 3px;
      background-color: $text-wob;
      border-radius: 10px;
    }
  }

  .hero {
    padding-block: 6rem;
    background-image: url("../images/mobile/image-header.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50% 100%;

    h1 {
      font-size: 2.75rem;
      text-transform: uppercase;
      color: $text-wob;
      margin-bottom: 1rem;
      letter-spacing: 5px;
      text-align: center;
      line-height: 1.125;
    }

    h1::after {
      content: "";
      display: block;
      background-image: url("../images/icon-arrow-down.svg");
      background-size: 9%;
      background-repeat: no-repeat;
      background-position: 50% 2rem;
      padding-top: 13.5rem;
    }
  }
}

main {
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas:
    "transformyourbrand"
    "standout"
    "graphics"
    "photography"
    "testimonials"
    "squarepics";

  section {
    @extend %section;

    a {
      @extend %readmore;
    }

    &.transform-your-brand {
      a::before {
        opacity: 0.3;
        background-color: $sectionlink-transform;
      }

      a::after {
        opacity: 1;
        background-color: $sectionlink-transform;
      }
    }

    &.stand-out {
      a:before {
        opacity: 0.5;
        background-color: $sectionlink-stand;
      }

      a:after {
        opacity: 1;
        background-color: $sectionlink-stand;
      }
    }

    figure {
      width: 100%;

      img {
        width: 100%;
        object-fit: fill;
      }
    }

    .text {
      padding: 15%;

      p {
        color: lighten($body-text-color, 40%);
      }
    }

    &.bgdimg {
      background-size: cover;
      padding-block: 100% 10%;
      padding-inline: 9%;
    }

    &.transform-your-brand {
      grid-area: transformyourbrand;
    }

    &.stand-out {
      grid-area: standout;
    }

    &.graphics {
      grid-area: graphics;
      background-image: url("../images/mobile/image-graphic-design.jpg");
    }

    &.photography {
      grid-area: photography;
      background-image: url("../images/mobile/image-photography.jpg");
    }

    &.testimonials {
      grid-area: testimonials;
      display: grid;
      grid-template-columns: 100%;
      padding-block: 1rem 5rem;
      padding-inline: 1%;

      h2 {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1rem;
        letter-spacing: 5px;
        color: lighten($body-text-color, 50%);
        padding-block: 2rem 2rem;
        font-weight: 600;
      }

      .testimonial {
        padding: 2rem 12%;
        line-height: 2;

        figure {
          width: 80px;
          height: 80px;
          border-radius: 100%;
          overflow: hidden;
          text-align: center;
          margin-inline: auto;
          margin-block: 1rem;

          img {
            width: 100%;
            object-fit: cover;
            object-position: center;
          }
        }

        blockquote {
          * {
            padding-block: 0.5rem;
          }

          color: lighten($body-text-color, 20%);

          cite {
            font-style: normal;

            span {
              display: block;

              &.name {
                font-family: $font-headers;
                font-size: 1.5rem;
                color: lighten($body-text-color, 0%);
              }

              &.job {
                color: lighten($body-text-color, 50%);
                padding-block: 0rem;
              }
            }
          }
        }
      }
    }

    &.squarepics {
      grid-area: squarepics;
      display: grid;
      width: 100%;
      grid-template-columns: repeat(2, 1fr);
      padding: 0;
      margin: 0;
      background-image: none;
      gap: 0;

      .square {
        padding: 0;
        margin: 0;
        line-height: 0;
      }

      .square img {
        width: 100%;
        object-fit: cover;
        object-position: 50%;
        padding: 0;
      }
    }

    h3 {
      font-size: 2rem;
      color: $body-text-color;
      line-height: 1.25;
      margin-bottom: 1rem;
    }
  }
}

footer {
  @extend %section;
  background-color: $footer-green;

  color: darken($footer-green, 30%);
  padding: 3rem 0;

  nav {
    .logotype {
      width: 186px;
      margin-block: 2rem 3rem;
    }

    a:hover,
    a:focus {
      color: $text-wob;
      transition: all 250ms ease-in-out;
    }

    &.socials ul {
      justify-content: center;
      gap: 2rem;
      margin-block: 6rem;
    }

    a {
      color: darken($footer-green, 30%);
      font-size: 1.25rem;
    }
  }

  .attribution {
    color: $text-wob;
    font-size: 1rem;
    text-align: center;
    padding-block: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;

    span {
      display: block;
      margin-block: 0rem;
      padding-block: 0rem;
      line-height: 1;

      &.coded-byline {
        padding-top: 1rem;
        img {
          vertical-align: middle;
          width: 21%;
        }
      }
    }

    a {
      color: darken($footer-green, 33%);
      text-transform: capitalize;
      font-family: $font-headers;
      font-size: 1.25rem;
      line-height: 1.75;
      letter-spacing: 0px;
    }
  }

  .socials a {
    color: darken($footer-green, 40%);
  }
}

@import "desktop";
